.intro {
    padding-top: 250px;
    margin-top: 100px;
}

h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: 'Moderustic', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro .text-container p {
    font-size: 18px;
}

.base-container {
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-picture {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ff5f6d;
    margin-bottom: 20px;
}

.text-container {
    margin-bottom: 30px;
    padding: 0 95px;
}

.text-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.text-container p strong {
    font-weight: 700;
    color: #ff5f6d;
}

.divider {
    border-bottom: 2px solid lightpink; /* Line color and thickness */
    margin: 20px 0;               /* Space around the line */
}

.fav-destination-box {
    margin: 30px 0;
}

.biography-box {
    border: 2px solid red;
    background-color: pink;
    border-radius: 20px;
}

.biography-list {
    text-align: left;
}